#Chess Games from 12 Top players

The aim is to answer some questions:
- The most sacrificed piece?
- Player with the most wins?
- And the player who loses the most?
- Who is the most aggressive?
- Who is the most positional?

In [2]:
%cd ..
from google.colab import drive
drive.mount('content/gdrive')

/
Mounted at content/gdrive

In [12]:
# rename the path
!ln -s /content/gdrive/My\Drive/ /mydrive
!ls

bin	 dev   lib32  mydrive	  root	sys		   usr
boot	 etc   lib64  opt	  run	tensorflow-1.15.2  var
content  home  media  proc	  sbin	tmp
datalab  lib   mnt    python-apt  srv	tools

In [15]:
import pandas as pd
import numpy as np

#1. Data: Piece information

In [14]:
path = "/mydrive/Data_Science_Projects/AnalysisChessGames/data/"
df = pd.read_csv(path+"Player_piece_info.csv")
print(df.shape)
print(df.info())
print(df.describe())

(1787199, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1787199 entries, 0 to 1787198
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   queen      int64
 1   rook       int64
 2   knight     int64
 3   bishop     int64
 4   pawn       int64
 5   move_num   int64
 6   file_name  object
 7   color      object
 8   player     object
dtypes: int64(6), object(3)
memory usage: 122.7+ MB
None
              queen          rook  ...          pawn      move_num
count  1.787199e+06  1.787199e+06  ...  1.787199e+06  1.787199e+06
mean   7.046596e-01  1.571671e+00  ...  5.796128e+00  4.905898e+01
std    4.568906e-01  6.661660e-01  ...  1.869875e+00  3.570868e+01
min    0.000000e+00  0.000000e+00  ...  0.000000e+00  1.000000e+00
25%    0.000000e+00  1.000000e+00  ...  5.000000e+00  2.100000e+01
50%    1.000000e+00  2.000000e+00  ...  6.000000e+00  4.300000e+01
75%    1.000000e+00  2.000000e+00  ...  7.000000e+00  6.900000e+01
max    3.000000e+00  2.000000e+00  ...  8.000000e+00  3.630000e+02

[8 rows x 6 columns]

In [16]:
df.head(10)

   queen  rook  ...  color    player
0      1     2  ...  Black  Alekhine
1      1     2  ...  Black  Alekhine
2      1     2  ...  Black  Alekhine
3      1     2  ...  Black  Alekhine
4      1     2  ...  Black  Alekhine
5      1     2  ...  Black  Alekhine
6      1     2  ...  Black  Alekhine
7      1     2  ...  Black  Alekhine
8      1     2  ...  Black  Alekhine
9      1     2  ...  Black  Alekhine

[10 rows x 9 columns]